@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

h1 {
    text-shadow: 2px 2px 4px rgba(255, 255, 0, 0.5);
}

h2{
    text-shadow: 1px 1px 3px rgba(255, 255, 0, 0.5);
}

a{
    font-family: "Orbitron", sans-serif;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(255, 242, 0);
}
