
<section class="flex flex-col items-center gap-2 p-4 w-full">
  <h2 id="sobre-mi" class="text-2xl md:text-3xl lg:text-4xl font-bold text-shadow-md text-center mt-2 md:mt-4 text-amber-200">Sobre mí</h2>
    <div class="w-full md:w-4/5 lg:w-3/4 max-w-5xl mx-auto flex justify-center items-center gap-20 p-6 bg-black/30 border border-white shadow-lg shadow-amber-300 rounded-lg">
      <img
        class="w-32 h-32 lg:w-48 lg:h-48 xl:w-56 xl:h-56 border-2 transition duration-500 border-b-blue-100 rounded-full hover:scale-110 object-cover"
        src="/yeigen.png"
        alt="Este soy yo"/>
      <p class="font-normal text-white"> HOLA ME LLAMO YEIGEN</p>
    </div>
</section>