<div class="grid grid-cols-1 grid-rows-3 md:grid-cols-3 md:grid-rows-1 lg:grid-cols-3 gap-4 md:gap-6 lg:gap-8 p-6 text-center justify-items-center">
	<a href="#sobre-mi" class="block max-w-sm p-6 bg-black/30 border border-gray-200 rounded-lg shadow-sm">
	<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Sobre mi</h5>
  <p class="font-normal text-gray-700 dark:text-gray-400">Estudio Ingeniería de datos e Inteligencia Artificial, y justo estoy en 6to semestre,
		he desarrollado algunos proyectos de la Universidad y también por aparte, como <strong>Abodi</strong>
	</p>
  </a>

  <a href="#proyectos" class="block max-w-sm p-6 bg-black/30 border border-gray-200 rounded-lg shadow-sm">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Proyectos</h5>
  <ul class="p-5 text-yellow-700 dark:text-yellow-400">
		<li class="list-none">Abodi-bot (Proximamente)</li>
		<li class="list-none">Abodi</li>
		<li class="list-none">Portafolio</li>
	</ul>
  </a>

  <a href="#contacto" class="block max-w-sm p-6 bg-black/30 border border-gray-200 rounded-lg shadow-sm">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Contacto</h5>
  <p class="p-5 font-semibold text-gray-700 dark:text-gray-400">gabriel.dev.edwards@gmail.com</p>
	</a>
</div>