<footer 
  class="mt-auto p-4 md:p-6 bg-gray-950
  text-white text-center 
  z-10 shadow-lg shadow-amber-200/50">

  <p 
    class="text-sm md:text-base">© 
      {new Date().getFullYear()} 
      Gabriel Martínez. Todos los derechos invertidos.
  </p>
</footer>
