<footer class="mt-auto p-4 md:p-6 bg-gray-700/10 backdrop-blur-lg text-white text-center z-10 shadow-lg shadow-amber-200/50">
    <p class="text-sm md:text-base">© 2025 Gabriel Martínez. Todos los derechos invertidos.</p>
</footer>