---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Cards from "../components/Cards.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import { ClientRouter } from 'astro:transitions';
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Yeigen - Gabriel Martínez</title>
	</head>

	<body class="bg-[url(https://4kwallpapers.com/images/wallpapers/zenitsu-agatsuma-3840x2160-19143.jpg)] bg-cover bg-center bg-no-repeat text-gray-100">
    <ClientRouter/>
    <main class="bg-gray-900/50 min-h-screen backdrop-opacity-70 flex flex-col">
      <Header/>
      <div class="flex-1 px-4 md:px-6">
        <slot/>
      </div>
        <Cards/>
        <About/>
        <Footer/>
    </main>
	</body>
</html>